<header id="header-full-top" class="hidden-xs <%= header_class %>">
    <div class="container">
        <div class="header-full-title">
            <h1 class="animated fadeInRight"><a href="index.html">Alege <span>Performanta</span></a></h1>
            <p class="animated fadeInRight">Consulanta si antreprenoriat la cel mai inalt nivel!</p>
        </div>
        <nav class="top-nav">
            <ul class="top-nav-social hidden-sm">
                <li><a href="#" class="animated fadeIn animation-delay-6 rss"><i class="fa fa-rss"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-7 twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-8 facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-9 google-plus"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" class="animated fadeIn animation-delay-7 linkedin"><i class="fa fa-linkedin"></i></a></li>                                                
            </ul>
            <ul>
                <a href="#" (click)="auth.login()"><i class="fa fa-user"></i> Login</a>
            </ul>
        </nav>
    </div> <!-- container -->
</header> <!-- header-full -->


<div class="container">
      <router-outlet></router-outlet>
</div>
